.track:hover > img {
  @apply scale-110 transition-all rounded-lg;
}

.track:hover > #play {
  @apply scale-100 transition-all active:scale-95;
}

.player::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  @apply bg-white w-3 aspect-square;
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  @apply bg-white w-[10px] aspect-square;
}
