@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: none;
      animation-timing-function: ease-in-out;
    }
  }
  .bounce {
    animation: bounce 4s infinite;
  }

  .blog-body > h2 {
    @apply text-3xl font-bold mb-4 mt-10 text-white;
  }
  .blog-body > p {
    @apply font-medium my-4;
  }
}
html,
body {
  scroll-behavior: smooth;
}
.slider {
  height: 0.2rem;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 0.4rem; /* Set width */
  height: 0.9rem; /* Set height */
  border-radius: 50%; /* Make thumb circular */
  background: #10b981; /* Set thumb color */
  cursor: pointer; /* Add cursor on hover */
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 25px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 51px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
